:root {
    --color-black: #1d1d1d;
    --color-black-transparent: #1d1d1ddb;

    --color-white: #ffffff;
    --color-white-transparent: #ffffff45;
}

@import './scss/_base';
@import './scss/layout';


@import './scss/typography';
@import './scss/utilities';
@import './scss/components';