.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width:60em) {
        flex-direction: row;
    }

    &-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.fluid-container{
    background-color: var(--color-white);
}

.section {
    width: 80%;
    padding: 10rem 1rem;
    margin: 0 auto;
    overflow-x: hidden;
 

    @media (min-width: 60rem) {
        &{
            width: 70%;
            padding: 5rem;
        }
    }
}

.card {
    position: relative;
    width: 47%;
    height: 29rem;


    @media (min-width:64em) {
        width: 25rem;;
        height: 32rem;
    }
}
