.center{ text-align: center;}
h1,h2,h3,h4,h5,h6{ font-family: 'Merriweather', serif;  color: var(--color-black);}
body{color: var(--color-black--transparent);}
.text-white{color: var(--color-white);}
.icon-white{
    fill: #b3b8cb;
}

.heading {
    &-nav{
        font-size: 2rem;
        text-transform: uppercase;
    }

    &-jumbo {
        font-size: 3.5rem;
        height: fit-content;
        text-transform: capitalize;

        @media (min-width: 60rem) {
            &{
                font-size: 8rem;
            }
        }
    }

    &-primary {
        font-size: 3rem;
        &__light{
            font-size: 1.8rem;
            font-weight: 600;
            border-bottom: thin solid var(--color-black);


            @media (max-width:26em) {
                &{
                    height: 6rem;
                }
            }

        }
    }

    &-section {
        font-size: 2.4rem;

        &__light{
            font-size: 1.2rem;
            font-weight: 300;

        }

    }
}

.paragraph {
    font-size: 1.8rem;
    font-weight: 300;

    @media (max-width: 60rem) {
        &{
            font-size: 1.8rem;
            font-weight: 400;
        }
    }

    &-small{
        font-size: 1.4rem;
        font-weight: 400;
    }
}

.list-item {
    font-size: 1.6rem;
    font-weight: 500;
}




.link{
    color: #1d1d1d;
    color: currentColor;
    text-decoration: none;
}
