.mb-2{margin-bottom: 2rem;}
.mt-2{margin-top: 2rem;}
.relative{position: relative;}

.button {
    padding: 1.5rem 1.7rem;
    border: transparent;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    border-radius: 5px;
    transition: all .6s ease-in-out;
    backdrop-filter: saturate(180%) blur(20px);
    background: var(--color-white-transparent);
    color: var(--color-white);
  

    @media (max-width: 60rem) {
        &{  font-size: 1.8rem;   }
    }

    &:hover{
      background: var(--color-black-transparent);
        color: var(--color-white);
       transform: translateY(-5px);  
    }
}

.icon{
    width: 3rem;
    height: 3rem;

    &:hover{cursor: pointer;}
}

.list{
    margin: 1rem 0;
    &-item{
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}












.floaters {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  letter-spacing: -2px;
  transform-origin: bottom left;
  transform: scale(0) rotateY(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
  font-family: 'Megrim', cursive;
  
  &:nth-child(2n) {
    border-color: lighten(#0040C1, 10%);
  }
  
  &:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }
  
  &:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }
  
  &:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

}

@keyframes cube {
  from {
    transform: scale(0) rotateY(0deg) translate(-50%, -50%);   
    opacity: 1;
  }
  to {
    transform: scale(20) rotateY(960deg) translate(-50%, -50%); 
    opacity: 0;
  }
}